{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endofLine": "lf",
    "htmlwhitespaceSensitivity":"css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "'proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabwidth": 2,
    "trailingComma":"es5",
    "useTabs": false,
    "vueIndentScriptAndstyle": false,
    "parser": "babel"
}